:root{
    --anchor-active: #71AD47;
    --anchor-off: #4472C4;
}

header a{
    border: 2px solid black ;
    background-color: var(--anchor-off);
}

nav a[href="#"] {
    background-color: var(--anchor-active);
}