
/* Todo el trabajo está realizado en una resolución de 1920x1080 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: cursive;

    --anchor-active: #71AD47;
    --anchor-off: #4472C4;
}

.layout{
    width: 60%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: object;
    margin-top: 20px;
    margin: 0 2px;
    width: 99.6%;
    border: 1px solid black;
}

.contenedor__imagenes{
    display: inline-block   ;
}

.logo{
    width: 150px;
    margin: 30px 0 10px 75px;
}

.imagen {
    width: 300px;
    display: block;
}

header{
    margin: auto;
    margin-bottom: -0.4%;
}

header nav{
    position: absolute;
    margin-left: 150px;
    margin-top: 45px;
    display: inline;
}

header a{
    border: 1px solid black ;
    text-decoration: none;
    color: white;
    background-color: var(--anchor-off);
    margin: 0 5px;
    padding: 0.3px 15px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

h1{
    margin-left: 30px;
    font-size: 40px;
    display: inline;
}

h2{
    border: 2px solid black;
    text-align: center;
    font-size: 130%;
}

nav a[href="#"] {
    background-color: var(--anchor-active);
}

.contenedor__fechas{
    display: inline-block;
    margin: 30px 0 0 100px;
}

.upcoming__fechas{
    margin-bottom: 9px;
    display: block;
}

.upcoming__fechas p{
    margin-left: 18px;
}

.contenedor__articulos{
    width: 60%;
    margin-top: 50px;
    margin-right: 100px;
    float: right;
}

.contenedor__articulos article{
    margin-bottom: 15px;
    text-indent: 1em;
}

.contenedor__contacto{
    display: inline-block;
    margin-left: 75px;
}

.contenedor__contacto p{
    margin-bottom: 15px;
}

h3{
    text-indent: 0;
}