
/* Todo el trabajo está realizado en una resolución de 1920x1080 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: cursive;
    --anchor-active: #07477f;
    --anchor-off: #909090;
    --fuente: #cfcfcf;
    --background: #202027;
}

body{
    background: rgb(4,0,71);
    background: radial-gradient(circle, rgba(4,0,71,1) 0%, rgba(0,0,0,1) 100%);
}

header nav{
    margin: 10px 10% 10px 70%;
    display: block;
    text-align: center;
}

header a{
    border: 1px solid black ;
    text-decoration: none;
    color: white;
    background-color: var(--anchor-off);
    margin: 0 5px;
    padding: 0.3px 15px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

.banner{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: object;
    margin-top: 20px;
    margin: 0 2px;
    width: 99.6%;
    border: 2px solid black;
    filter: blur(1.5px) brightness(0.88);
}

.contenedor__logo{
    background-color: black;
}

.logo{
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 430px;
    margin: auto;
    text-align: center;
    border: 3px solid black;
    background: rgb(4,0,71);
    background: radial-gradient(circle, rgba(4,0,71,1) 0%, rgba(0,0,0,1) 100%);
}

.imagen {
    margin: 15px auto;
    width: 300px;
    display: block;
    box-shadow: 4px 4px 2px 2px black;
}

nav a[href="#"] {
    background-color: var(--anchor-active);
}

h1{
    display: none;
}

h2{
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
    color: var(--fuente);
}

.contenedor__fechas{
    display: block;
    margin: 50px auto;
}

.upcoming__fechas{
    padding: 10px;
    margin-bottom: 9px;
    display: inline-block;
    margin-left: 250px;
    color: var(--fuente);
}

.upcoming__fechas p{
    margin-left: 18px;
    display: inline;
}

.contenedor__articulos{
    width: 70%;
    margin: auto;
    margin-bottom: 80px;
}

.contenedor__articulos article{
    color: var(--fuente);
    margin-bottom: 15px;
    text-indent: 1em;
}

.contenedor__articulos h3{
    text-indent: 0;
}

.contenedor__contacto{
    color: var(--fuente);
    display: block;
    text-align: center;
}

.contenedor__contacto p{
    margin-bottom: 15px;
}

.contenedor__contacto a{
    text-decoration: underline;
    color: #005aa9;
}
