.contenedor__articulos{
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

.contenedor__articulos article{
    color: var(--fuente);
    margin-bottom: 15px;
    text-indent: 1em;
}

.contenedor__articulos h3{
    text-indent: 0;
}