.contenedor__contacto{
    color: var(--fuente);
    display: flex;
    justify-content: space-around;
    margin: 25px 200px;
    margin-bottom: 80px;
}

.contenedor__contacto_contenido p{
    margin-bottom: 15px;
}

.contenedor__contacto_contenido a{
    color: #005aa9;
    text-decoration: none;
}
