:root {
    --fuenteLightRules: #f1f1f1;
    --fechaSuperior: #E7DBCA;
    --fechaInferior: #FEF4E9;
}

.contenedor__pagina {
    display: flex;
    justify-content: center;
}

.contenedor__contenido {
    width: 60%;
    padding: 40px 0 80px 0;
}

.titulo {
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

.subtitulo {
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

.tabla__fechas {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-family: sans-serif;
    border-collapse: collapse;
    margin: 10px 0 10px 30px;
}

th,
tr,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px 15px
}

th {
    background-color: #435D6E;
    color: var(--fuenteLightRules);
}

.tabla__fecha {
    background-color: #778B96;
    color: var(--fuenteLightRules);
    text-align: center;
}

.fecha__superior {
    background-color: var(--fechaSuperior);
}

.fecha__inferior {
    background-color: var(--fechaInferior);
}

.contenedor__contacto {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.contacto__email_phone {
    display: flex;
    gap: 65px;
}

.contenedor__tablamapas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tabla__mapas {
    background-color: var(--fechaInferior);
    border: 1px solid black;
    font-family: sans-serif;
    border-collapse: collapse;
    margin: 10px 0 10px 0px;
}

.mapas {
    width: 100%;
    border: 0;
    border: 3px solid var(--fechaSuperior);
}

.tabla__mapas td {
    width: 33.3%;
}